.floor {
  position: relative;
  &1{
    a{
      position: absolute;
      width: 220px;
      height: 80px;
      background-color: transparent;
      top: 470px;
      left: 390px;
      cursor: pointer;
    }
  }
  &2{
    a{
      position: absolute;
      width: 220px;
      height: 80px;
      background-color: transparent;
      top: 440px;
      left: 390px;
      cursor: pointer;
    }
  }
}