<div id="frame">
  <div class="sp-banner">&nbsp;</div>
  
  <div class="w1 m-auto sp-time">
    <a href="//passport.panli.com/Register/" target="_blank">&nbsp;</a>
  </div>

  <div class="sp-main m-auto w1">

    <div class="floor-1 floor" id="floor-1">
      <div class="title txt-c">
        <img src="./build/css/img/t1.png" alt="" srcset="">
      </div>
      <div class="floor-body">
        <ul class="clear product-list">

        </ul>
      </div>
    </div>
    <div class="floor-2 floor" id="floor-2">
      <div class="title txt-c">
        <img src="./build/css/img/t2.png" alt="" srcset="">
      </div>
      <div class="floor-body">
        <ul class="clear product-list">
        </ul>
      </div>
    </div>
    <div class="floor-3 floor" id="floor-3">
      <div class="title txt-c">
        <img src="./build/css/img/t3.png" alt="" srcset="">
      </div>
      <div class="floor-body">
        <ul class="clear product-list">
        </ul>
      </div>
    </div>
    <div class="floor-4 floor" id="floor-4">
      <div class="title txt-c">
        <img src="./build/css/img/t4.png" alt="" srcset="">
      </div>
      <div class="floor-body">
        <ul class="clear product-list">
        </ul>
      </div>
    </div>
    <div class="floor-5 floor" id="floor-5">
      <div class="title txt-c">
        <img src="./build/css/img/t5.png" alt="" srcset="">
      </div>
      <div class="floor-body">
        <ul class="clear product-list">
        </ul>
      </div>
    </div>
  </div>
</div>

<!--floor-nav-->
<div class="floor-nav">
  <ul class="floor-nav-u">
    <li class="li1" floor="1">
      <a href="javascript:void(0);">&nbsp;</a>
    </li>
    <li class="li2" floor="2">
      <a href="javascript:void(0);">&nbsp;</a>
    </li>
    <li class="li3" floor="3">
      <a href="javascript:void(0);">&nbsp;</a>
    </li>
    <li class="li4" floor="4">
      <a href="javascript:void(0);">&nbsp;</a>
    </li>
    <li class="li5" floor="5">
      <a href="javascript:void(0);">&nbsp;</a>
    </li>
  </ul>
</div>
<script src="./build/css/js/app.js"></script>

<script src="./data/data.js"></script>
<script src="./data/app.js"></script>
<script>
  FloorList(productData)
</script>