<div id="frame">
  <div class="sp-banner">&nbsp;</div>
  
  <div class="w1 m-auto sp-time">
    <a href="//passport.panli.com/Register/" class="a1" target="_blank">&nbsp;</a>
    <a href="javascript:void(0);" class="a2" onclick="LayoutClick(1)" >&nbsp;</a>
    <a href="javascript:void(0);" class="a3" onclick="LayoutClick(2)">&nbsp;</a>
  </div>

  <div class="sp-main m-auto w1">

    <div class="floor-1 floor" id="floor-1">
      <div class="title txt-c">
        <img src="./build/css/img/title.png" alt="" srcset="">
      </div>
      <div class="floor-body">
        <ul class="clear product-list" id="ul1"></ul>
        <ul class="clear product-list" id="ul2"></ul>
        <ul class="clear product-list" id="ul3"></ul>
        <ul class="clear product-list" id="ul4"></ul>
        <ul class="clear product-list" id="ul5"></ul>
      </div>
    </div>
   
    <div class="paging">
      <div id="pageTool"></div>
    </div>

  </div>

  

</div>

<!--layer-->
<div class="layer-img-click-wrap" style="display:none">
  <div class="layer-html-1">
      <div class="layer-html-1-main">
          <div class="close-layer" title="关闭">&nbsp;</div>
          <img src="./build/css/img/lay-1.png" alt="">
          <!-- <a href="" target="_blank" class="online-url-sp">&nbsp;</a> -->
      </div>
  </div>
  <div class="layer-html-2">
      <div class="layer-html-2-main">
          <div class="close-layer" title="关闭">&nbsp;</div>
          <img src="./build/css/img/lay-2.png" alt="">
          <a href="http://www.panli.com/CustomerService/" target="_blank" class="online-url-sp">&nbsp;</a>
      </div>
  </div>
  
</div>
<!--layer end-->

<script src="./build/css/js/app.js"></script>

<script src="./data/data.js"></script>
<script src="./data/app.js"></script>
<script>
  FloorList(productData)
  var p = new Paging();
  p.init({target:'#pageTool',pagesize:28,count:140, callback: function (pagecount) {
    PD(".floor-body ul").hide()
    PD("#ul" + pagecount).show()
    var _afloTop = $("#floor-1").offset().top;
      $('body,html').animate({
        scrollTop: _afloTop - 14
      }, 0);
      }})
</script>